{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        {# HERO SECTION #}
        <section>
            <div class="px-4 py-5 mb-10 mx-auto max-w-screen-xl text-center lg:px-12">

                <a href="#" class="inline-flex justify-between items-center py-1 px-2 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full" role="alert">
                    <span class="text-xs bg-orange-500 rounded-full text-white p-1 mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                    <span class="text-sm font-medium">100% gratuit et sans aucune publicité</span>
                    <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                </a>

                <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
                    La première communauté consacrée au Rhum
                </h1>

                <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-24">
                    Rejoignez le club des amateurs de rhum et découvrez les meilleures sélections du monde.
                    Inscrivez vous gratuitement et partagez vos avis sur les spiritueux que vous avez dégustés.
                </p>

                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                    <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 ">
                        Rejoindre la communauté
                        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                            <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z" clip-rule="evenodd" />
                        </svg>
                        Lire nos articles
                    </a>
                </div>
            </div>
        </section>

        {# SOCIAL PROOF #}
        <section>
            <dl class="pb-10 grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3">

                <div class="flex flex-col items-center justify-center bg-gray-100 rounded-xl py-5 border">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 fill-orange-500 mb-3">
                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                    </svg>
                    <dt class="text-3xl md:text-4xl font-extrabold">{{ random(4, 35) }}</dt>
                    <dd class="font-light text-gray-500">rédacteurs</dd>
                </div>

                <div class="flex flex-col items-center justify-center bg-gray-100 rounded-xl py-5 border">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 fill-orange-500 mb-3">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                    </svg>
                    <dt class="text-3xl md:text-4xl font-extrabold">{{ random(100, 2000) }}</dt>
                    <dd class="font-light text-gray-500">membres</dd>
                </div>
                <div class="flex flex-col items-center justify-center bg-gray-100 rounded-xl py-5 border">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 fill-orange-500 mb-3">
                        <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 006 21.75a6.721 6.721 0 003.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 01-.814 1.686.75.75 0 00.44 1.223zM8.25 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM10.875 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z" clip-rule="evenodd" />
                    </svg>
                    <dt class="text-3xl md:text-4xl font-extrabold">{{ random(982, 4323) }}</dt>
                    <dd class="font-light text-gray-500">discussions</dd>
                </div>

            </dl>
        </section>

        {# ARTICLE LIST #}
        <section class="mt-8">

            {{ component('section_header', {
                'title' : 'Nos derniers articles',
                'description' : 'Retouvez quelques articles fraichement publiés sur notre site',
                'titleTag' : 'h2',
            }) }}

            {% include 'article/list.html.twig' with { articles } %}
        </section>

{% endblock %}
