<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>FoRhum | {% block title %}Bienvenue !{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon-svg.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{% include 'admin-header.html.twig' %}

{% include 'header.html.twig' %}

<main class="border-b bg-gray-50 w-screen">
    <div class="min-h-screen mx-auto max-w-7xl px-4 pl-7 pt-12 pb-20">
    {% block body %}

    {% endblock %}
    </div>
</main>

{% include 'footer.html.twig' %}

</body>
</html>
