<header class="border-b">
    <div class="mx-auto flex max-w-7xl items-center justify-between p-4">
        <div class="flex items-center space-x-4">
            <div class="flex items-center space-x-2">
                <button class="flex appearance-none p-1 text-gray-500 md:hidden">
                    <svg class="h-6 w-6" fill="currentcolor" viewBox="0 0 256 256">
                        <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentcolor"
                              stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                        <line x1="40" y1="64" x2="216" y2="64" fill="none" stroke="currentcolor" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="24"></line>
                        <line x1="40" y1="192" x2="216" y2="192" fill="none" stroke="currentcolor"
                              stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    </svg>
                </button>
                <a href="{{ path('app_home') }}" class="flex space-x-2">
                    <svg class="w-7 h-7 fill-orange-500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37.3 37.3" xml:space="preserve">
                        <path d="M36.3,0.9C35.9,0.3,35.2,0,34.5,0H2.8C2.1,0,1.4,0.3,1,0.9C0.5,1.4,0.4,2.1,0.5,2.8l5.8,22.1l0,0l2.2,10.5
                            c0.2,1.1,1.2,1.8,2.3,1.8h15.9c1.1,0,2-0.8,2.3-1.8L31,24.9l0,0l5.8-22.1C36.9,2.1,36.7,1.4,36.3,0.9z M26.9,22.1H10.4L5.6,4.6h26.1
                            L26.9,22.1z"/>
                    </svg>
                    <span class="font-bold text-xl">FoRhum</span>
                </a>
            </div>
            <nav class="hidden items-center space-x-2 text-sm font-medium text-gray-800 md:flex">
                <a href="#" class="rounded-xl bg-white px-3 py-2 transition hover:bg-gray-100">Features</a>
                <a href="#" class="rounded-xl bg-white px-3 py-2 transition hover:bg-gray-100">Pricing</a>
                <a href="#" class="rounded-xl bg-white px-3 py-2 transition hover:bg-gray-100">About</a>
                <a href="#" class="rounded-xl bg-white px-3 py-2 transition hover:bg-gray-100">Changelog</a>
                <a href="#" class="rounded-xl bg-white px-3 py-2 transition hover:bg-gray-100">Blog</a>
            </nav>
        </div>
        <nav class="flex items-center space-x-4 text-sm font-medium text-gray-800">
            <a href="#" class="hidden rounded-xl bg-white px-3 py-2 transition hover:bg-gray-100 sm:inline">Se connecter</a>
            <a href="#" class="rounded-md bg-orange-500 px-3 py-2 text-white transition hover:bg-orange-600">S'inscrire</a>
        </nav>
    </div>
</header>